__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.env/

db.sqlite3

media/

/static/

*.log

*.pot
*.mo

.secret_key

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env

.coverage
*.coveragerc

.pytest_cache/

.docker/
